<!DOCTYPE html>
<html>
<head>
    {% load static %}
   <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
  <title>ERP - Mohans Shoppy</title>
  <link rel="icon" href="images/logo.jpeg" sizes="any" type="image/jpeg"> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<h1> Mohans Shoppy </h1>
<h2>Employer Details</h2>

<form method="post" >{% csrf_token %}
  <label for="userid">User ID</label><br>
  <input class="form-control" type="text" id="userid" name="userid" Pfnamelaceholder="Enter User ID" required><br>

  <label for="fname">Full name</label><br>
  <input class="form-control" type="text" id="fname" name="fname" Pfnamelaceholder="Enter your First name" required><br>

  <label for="pwd">Create password</label><br>
  <input class="form-control" type="password" id="pwd" name="pwd" Pfnamelaceholder="Enter a password" required><br>

  <label for="pwd">Confirm password</label><br>
  <input class="form-control" type="password" id="cpwd" name="cpwd" Pfnamelaceholder="Enter password again" required><br>

  <label for="role">Role</label><br>
  <input class="form-control" type="text" id="role" name="role" Pfnamelaceholder="Enter your role" required><br>

  <label for="lname">Email Id</label><br>
  <input class="form-control" type="email" id="email" name="email" Placeholder="nick@example.com" required><br>

  <label for="lname">Finger Print ID</label><br>
  <input class="form-control" type="text" id="fpid" name="fpid" Placeholder="Enter Finger Print ID" required><br>


  <label for="lname">Mobile number</label><br>
  <input class="form-control" type="text" id="mnumber" name="mnumber" Placeholder="Enter your mobile number" required><br>
  
  <label for="lname">Aadhar Number</label><br>
  <input class="form-control" type="text" id="anumber" name="anumber" Placeholder="Enter your Aadhar number" required><br>
  <label for="lname">PAN card number</label><br>
  <input class="form-control" type="text" id="pnumber" name="pnumber" Placeholder="Enter your PAN" required><br><br>

    <label for="lname"><b>Address</b></label><br><br>
  <label for="lname">Door No</label><br>
  <input class="form-control" type="text" id="dnumber" name="dnumber" Placeholder="Door No." required><br><br>


  
  <label for="Street">Street</label><br>
  
  <input class="form-control" type="text" id="address" name="street" placeholder="Enter your street" required><br>
  
  <label for="city">City</label><br>
  
  <input class="form-control" type="text" id="city" name="city" placeholder="Enter your city" required><br>

  <label for="state">State</label><br>
               
  <input class="form-control" type="text" id="state" name="state" placeholder="Enter your state" required><br>
             
  <label for="zip">Zip</label><br>
  
  <input class="form-control" type="text" id="zip" name="zip" placeholder="Enter your Zipcode" required><br><br>

  <input class="form-control" type="submit" name="register" value="Submit">

</form>
</body>
</html>
