<!DOCTYPE html>
<html>
<head>
    {% load static %}
   <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
  <title>Mohans Shoppy</title>
  <link rel="icon" href="images/logo.jpeg" sizes="any" type="image/jpeg"> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/styles.css">
  
  
</head>
<body>
<div class="">
  <div id="formContent">
    <form method="post" >{% csrf_token %}
      <input type="text" id="password" class="fadeIn second" name="password" placeholder="password">
      <input type="text" id="confirm_password" class="fadeIn third" name="confirm_password" placeholder="confirm password">
      <input type="submit" class="fadeIn fourth" value="submit">
    </form>

  </div>
</div>
</body>
<style>

</style>
</html>
