<!DOCTYPE html>
<html>
<head>
    {% load static %}
   <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
  <title>ERP - Mohans Shoppy</title>
  <link rel="icon" href="images/logo.jpeg" sizes="any" type="image/jpeg"> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<h1> Roll Management </h1>
 
<form method="post"> {% csrf_token %}
  <label for="screenrights">Role Name:</label>
  <input type="text" id="" name="role">
  <h1> Screen Rights :</h1>

  <input type="checkbox" id="" name="umgmt"  value="name">
  <label for="Screenrights"> User management</label><br>
  
  <input type="checkbox" id="" name="emgmt" value="emgmt">
  <label for="Screenrights"> Employee management</label><br>
  
  <input type="checkbox" id="" name="inward">
  <label for="Screenrights"> Stock Inward</label><br><br>
  
  <input type="submit" value="Submit">

</form>


</body>
</html>
